<footer class="footer page__footer">
	<div class="footer__inner layout__wrap">
		<div class="footer__text">
			Copyright © 2021 is owned and operated by N1 Interactive Ltd, a company incorporated under the laws of Malta with registration number and registered address at 206, Wisely House, Old Bakery Street, Valletta VLT1451, Malta. is licensed and regulated by the Malta Gaming Authority under the licences: MGA/B2C/394/2017 (issued on 01/08/2018).
Gambling can be addictive. Play responsibly. Wildfortune casino accepts players only over 18 years of age.
		</div>
	</div>
</footer>