.input {
  position: relative;
  display: inline-flex;
  touch-action: manipulation;
  max-width: 100%;
}

.input .input__box {
  max-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}

.input .input__control {
  max-width: 100%;
  width: 100%;
  font: inherit;
  line-height: inherit;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  color: $color_dark;
}

/*Стэйт полей*/

.input.input_view_error {
  border-color: $color_attention;
}

.input.input_view_success {
  border-color: $color_success;
}

.input.input_focused {
  border-color: $color_active;
}

/*Виды полей КОНЕЦ*/

/*Размеры полей*/

.input.input_width_available {
  width: 100%;
  & .input__control {
    width: 100%;
  }
}

/*S - Начало*/
.input.input_size_s {
  font-size: 13px;
  line-height: 16px;
}
.input.input_size_s .input__control {
  height: 24px;
  padding: 0 7px;
}

/*S - КОНЕЦ*/

/*M - Начало*/
.input.input_size_m {
  font-size: 14px;
  line-height: 16px;
}
.input.input_size_m .input__control {
  height: 26px;
  padding: 0 8px;
}

/*M - КОНЕЦ*/

/*L - Начало*/
.input.input_size_l {
  font-size: 18px;
  line-height: 22px;
  border-radius: 8px;
}

.input.input_size_l .input__control {
  height: 48px;
  padding: 0 10px;
}

/*L - КОНЕЦ*/

/*XL- Начало*/
.input.input_size_xl {
  font-size: 20px;
  line-height: 24px;
}

.input.input_size_xl .input__control {
  height: 36px;
  padding: 0 12px;
}

/*XL - КОНЕЦ*/
