@keyframes slideMenuOpen {
	0% {
		transform: translateX(-100%);
		opacity: 0;
		/*  visibility: hidden; */
	}
	50% {
		transform: translateX(20%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
		/* visibility: visible; */
	}
}

@keyframes slideMenuClose {
	0% {
		transform: translateX(0);
		opacity: 1;
		/* visibility: visible; */
	}
	50% {
		transform: translateX(20%);
		opacity: 1;
	}
	100% {
		transform: translateX(-100%);
		opacity: 0;
		/* visibility: hidden; */
	}
}
