@font-face {
	font-family: Spartan;
	font-display: swap;
	src: url("../fonts/Spartan-Light.woff2") format("woff2"), url("../fonts/Spartan-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Spartan;
	font-display: swap;
	src: url("../fonts/Spartan-Black.woff2") format("woff2"), url("../fonts/Spartan-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
