/* COLORS */
/* Main color */
$color_light: #fff;
$color_dark: #000;
$color_passive: #ccc;
$color_active: yellow;
$color_attention: red;
$color_success: green;

/* TIME*/

$th: 0.25s;

/* Settings */
/* Main */
$background_main: $color_light;
$font_color: $color_dark;
