.page {
  &_theme {
    font: 14px / 2.14 "Spartan", sans-serif;
    color: $font_color;
    background: $background_main;
  }
  &_overflow {
    overflow: hidden;
  }
  &__header {
  }

  &__footer {
  }
}
